{{ define "main" }}
<main>
    <article>
        <div class="title">
            <h1>{{ .Title }}</h1>
            {{- $pubdate := .PublishDate.Format "Jan 2, 2006" }}
            <div class="meta">Posted on {{ $pubdate }}{{ if .Draft }} <span class="draft-label">DRAFT</span>{{ end }}
            </div>

            {{- if .Lastmod }}
            {{- $lastmod := .Lastmod.Format "Jan 2, 2006" }}
            {{- if ne $lastmod $pubdate }}
            <div class="meta">
                (Last updated: {{ $lastmod }})
            </div>
            {{- end }}
            {{- end }}

        </div>
        {{ if isset .Params "tldr" }}
        <div class="tldr">
            <strong>tl;dr:</strong> {{ .Params.tldr }}
        </div>
        {{ end }}
        <section class="body">
            {{ .Content }}
        </section>
    </article>

    {{ partial "navigation.html" . }}


</main>
{{ end }}
