{{ define "main" }}
<canvas id="backgroundCanvas"></canvas>
<script src="{{ .Site.BaseURL }}js/background-animation.js"></script>
<h1 class="page-title">All subjects</h1>

{{ $biggest := 1 }}
{{ $smallest := 1 }}
{{ $max := 3 }}
{{ $min := 1 }}
{{ $size := $min }}

{{ $data := .Data }}
<div class="tag-cloud">
    <ul class="tags">
        {{ range $key, $value := .Data.Terms.ByCount }}
        {{ $size := (add (mul (div $value.Count $biggest) (sub $max $min)) $min) }}
        {{ $size := (cond (eq $biggest $smallest) $min $size) }}
        <section class="list-item">
            <div class="title-date-container">
                <h1 class="title"><a
                        href="{{ $.Site.LanguagePrefix | absURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}/">{{
                        $value.Name | title }}</a></h1>
                <time>{{ $value.Count }} posts</time>
            </div>
        </section>
        {{ end }}
    </ul>
</div>
{{ end }}
