/* Reset and base styles */
*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: "CommitMono", monospace;
    font-feature-settings: normal;
    overflow-y: scroll;
}

body {
    margin: 0;
    line-height: inherit;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* Basic element styling */
hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
}

img,
video {
    max-width: 100%;
    height: auto;
}

/* Font */
@font-face {
    font-family: 'CommitMono';
    src: url('/fonts/CommitMono-400-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CommitMono';
    src: url('/fonts/CommitMono-700-Regular.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CommitMono';
    src: url('/fonts/CommitMono-400-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'CommitMono';
    src: url('/fonts/CommitMono-700-Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
