body {
    max-width: 60ch;
    margin: 0 auto;
}

@media (max-width: 768px) {
    body {
        padding: 0 0.5rem;
    }
}

.content {
    width: 100%;
    overflow-x: hidden;
    flex: 1;
    padding: 1rem;
}

#site-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
    #site-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        margin-top: 0.5rem;
    }

    .theme-toggle {
        margin-top: 0.5rem;
    }
}

#site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding: 0.5rem 0;
    text-align: center;
}

.social-links {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.title-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.nav-item {
    flex-grow: 1;
    text-align: center;
}

.nav-item.previous {
    text-align: left;
}

.nav-item.next {
    text-align: right;
}
