<footer id="site-footer">
    <div class="social-links">
        {{ range .Site.Menus.socials }}
        <a href="{{ .URL }}" title="{{ .Title }}" class="social-link"><span class="bracket">[</span>{{- .Name -}}<span
                class="bracket">]</span></a>
        {{ end }}
    </div>
    <div class="footer-marquee">
        <div class="footer-marquee__content">
            <span class="footer-marquee__item">{{ .Site.Params.footer_msg }}</span>
            <span class="footer-marquee__item">{{ .Site.Params.footer_msg }}</span>
        </div>
    </div>
</footer>
