<footer>
    <div style="display:flex">
        {{- range $index, $key := .Site.Params.Social -}}
        <a class="soc" href="{{ $key.url }}" rel="me" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
        <a class="border"></a>
        {{- end -}}
    </div>
    {{- if isset .Site.Params "footer_msg" -}}
    <p class="footer_msg">{{ .Site.Params.footer_msg }}</p>
    {{- end -}}
</footer>

{{- if (isset .Site.Params "social") -}}
<script>
    feather.replace()
</script>
{{- end -}}
