<header>
    <nav id="site-navbar">
        <div class="navbar-content">
            <a href="{{ .Site.BaseURL }}" class="logo">rezvan.xyz</a>
            <div class="navbar-links">
                {{ range .Site.Menus.main }}
                {{ if ne .Name "home" }}
                <a href="{{ .URL }}" class="nav-link"><span class="bracket">[</span>{{ .Name }}<span
                        class="bracket">]</span></a>
                {{ end }}
                {{ end }}
            </div>
            {{ if eq .Site.Params.mode "toggle" -}}
            <div class="theme-toggle">
                <span id="dark-mode-toggle" onclick="toggleTheme()" aria-label="Toggle theme">
                    ○
                </span>
                <script src="{{ .Site.BaseURL }}js/themetoggle.js"></script>
            </div>
            {{ end }}
        </div>
    </nav>
</header>
