<header>
    <nav id="site-navbar">
        <div class="navbar-content">
            <a href="{{ .Site.BaseURL }}" class="logo">rezvan.xyz</a>
            <div class="navbar-links">
                {{ range .Site.Menus.main }}
                {{ if ne .Name "home" }}
                <a href="{{ .URL }}" class="nav-link"><span class="bracket">[</span>{{ .Name }}<span
                        class="bracket">]</span></a>
                {{ end }}
                {{ end }}
            </div>
        </div>
        {{ if eq .Site.Params.mode "toggle" -}}
        <div class="theme-toggle">
            <span id="dark-mode-toggle" onclick="toggleTheme()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-moon">
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                </svg>
            </span>
            <script src="{{ .Site.BaseURL }}js/themetoggle.js"></script>
        </div>
        {{ end }}
    </nav>
</header>
