<header>
    <nav id="site-navbar">
        <div class="menu-items">
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </div>
        {{ if eq .Site.Params.mode "toggle" -}}
        <div class="theme-toggle">
            <span id="dark-mode-toggle" onclick="toggleTheme()"><i data-feather="moon"></i></span>
            <script src="{{ .Site.BaseURL }}js/themetoggle.js"></script>
        </div>
        {{ end }}
    </nav>
</header>
